/* Add application styles...... */

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
  text-align: center;
  color: rgb(9, 103, 211);
}
